:root {
    --main-color: #FF9A76;
    --dark-color: #707070;
    --second-color: #679B9B;
    --main-clear: #FFEADB;
    --white: white;
    --primary-font: 'Roboto', sans-serif;  
    --shadow: 5px 5px 5px  rgba(0, 0, 0, 0.2);  
    --border: 3px solid var(--main-color);
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--primary-font);
}

.container{
    width: 1000px;
    margin: 0 auto;
}

/*
    border-radius:20px;
    backgraound-color: var(--white);
    box-shadow: ;

*/


/* ____________HEADER STYLE */

.nav__header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    background-color: var(--dark-color);
}

.nav__header ul {
    display: flex;  
    margin: 20px;  
    outline: none;
}

.nav__header li {
    margin: 0 20px; 
    list-style: none; 
}
.nav__header li a{
    color: var(--white); 
    list-style: none;  
    text-decoration: none;
    padding: 5px; 
}

.nav__header li a:hover {
    list-style: none;
    text-decoration: underline;
}

.nav__header a img{
    width: 40px;
    padding: 10px;
    outline: none;
    cursor: pointer;
}
.nav__header a img:hover {
    transform: scale(1.1);
     
}

.nav__header a:focus{
    outline: none;
}

.nav__header a:focus-within{
    outline: var(--border);  
}
 



/* ____________SECTION INTRODUCTION */

.main__introduce {
    width: 100%;
    height: 300px;
    padding: 10% 0;
    background-color: var(--main-clear);
    color: var(--second-color);
    margin: 0 auto;    
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:"t t"
                        "l r";
    grid-gap: 20px;
    justify-items: center;
    outline: none;
}

.main__introduce:focus{
    outline: var(--border);
}

.main__introduce--title{
    grid-area: t;    
    font-size: 4em;
    color: var(--main-color);
}

.main__introduce--img {
    grid-area: l;
    width: 30%;
}

.main__introduce--img img {
    grid-area: l;
    width: 100%;
    
}
.main__introduce--text {
    grid-area: r;
    width: 60%;
}


/*  _____________MAIN HERO*/

.main__hero {
    width: 100%;
    height: 380px;    
    display: block;
    background-color: var(--white);
    outline: none;
}

.main__hero:focus {
    outline: var(--border);
}

.main__hero--title {
    text-align: center;
    margin-top: 4%;
    text-transform: uppercase;
    color: var(--dark-color);
}

.main_hero--content {
    width: 100%;
    margin: 40px auto;
    display: flex;
}

.main_hero--content-left,
.main_hero--content-right {
    width: 380px;
    height: 100px;
    padding: 40px;
    margin: 20px 50px;
    border-radius:20px;
    background-color: var(--main-clear);
    box-shadow: var(--shadow);
    color: var(--dark-color);
    outline: none;
}
.main_hero--content-left:focus,
.main_hero--content-right:focus{
    outline: var(--border   )
}

.main_hero--content div ul li{
    margin: 10px;
}


/* _______________ MAIN CONTACT*/

.main__contact{
    width: 100%;
    height: 380px;    
    display: flex;
    background-color: var(--main-clear);
    outline: none;
}

.main__contact:focus{
    outline: var(--border);
}

.main__contact--free,
.main__contact--coach {
    width: 30%;
    height: 100px;
    padding: 40px;    
    margin: 90px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius:20px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    color: var(--second-color);
    outline: none;
}

.main__contact--free:focus,
.main__contact--coach:focus {
    outline: var(--border);
}

.main__contact--free button,
.main__contact--coach button{
    width: 100px;
    height: 40px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: var(--second-color);
    color: var(--white);
    outline:none;
}

.main__contact--free button:focus,
.main__contact--coach button:focus{
    outline:var(--border);
}



.main__contact div button:hover{ 
    transform: scale(1.1);

    background-color: var(--main-color);
    color: var(--dark-color);    
    box-shadow: var(--shadow);
}
/*________________ FOOTER*/

footer {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    background-color: var(--dark-color);
}

footer a img {
    width: 40px;
    padding: 10px;
    outline: none;
    cursor: pointer;
}
footer a:focus{
    outline: none;
}  

footer a:focus-within{
    outline: var(--border);  
}


footer a img:hover{
    transform: scale(1.1);
}

footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
    margin: 20px;
}

footer ul li a{
    color: var(--white);
    text-decoration: none;
    outline: none;
    padding: 5px;
}

footer ul li a:focus{
    outline: var(--border);
}


footer ul li a:hover{
    text-decoration: underline;
}

